
    <!doctype html>
    <html>
      <head>
        <title>About <%=webName%></title>
        <link rel="stylesheet"  type="text/css" href="/main.css" />
      </head>
      <body>
        <h4 class = "maintitle"> The <%=webName%></h4>
    
        
        <nav class="main-nav">
    
            <% if (isLoggedIn) { %>
                <div class="login-message-container">
                  <span class="login-message"><%= loginMessage %></span>
                  <a href="/logout">Logout</a>
                </div>
              <% } else { %>
                <div class="login-message-container">
                  <a href="/login">Login</a>
                </div>
              <% } %>
    
            <ul class = "nav-links">
                <li><a href='/'>Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="register">Register </a></li>
                <li><a href="deleteuser">Delete Account</a></li>
                <li><a href="/ratings">Ratings</a></li>
                <li><a href="/forum">Forum</a></li>
            </ul>
            <div class="search-container">
                <form action="/search-result" method="GET">
                  <input id="search-box" type="text" name="keyword" placeholder="Search for a User">
                  <input type="submit" value="Search">
                </form>
              </div>
          </nav>
        
    
    
       
    







   
    <% if (isLoggedIn) { %>
        <p><%= loginMessage %></p>
        <p><a href="/logout">Logout</a></p>
    <% } else { %>
        <p><a href="/login">Login</a></p>
    <% } %>
    



<!-- Display forum posts -->
<% posts.forEach(function(post) { %>
    <div class="forum-post">
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
        <p>Posted by: <%= post.username %> at <%= post.created_at %></p>

        <!-- Display comments for this post -->
        <h3>Comments</h3>
        <ul>
            <% if (post.comments && post.comments.length > 0) { %>
                <% post.comments.forEach(function(comment) { %>
                    <li><%= comment.comment_content %> - Commented by <%= comment.comment_username %> at <%= comment.comment_created_at %></li>
                <% }); %>
            <% } else { %>
                <li>No comments yet.</li>
            <% } %>
        </ul>

        <!-- Comment Submission Form -->
        <form action="/comment" method="post">
            <input type="hidden" name="postId" value="<%= post.id %>">
            <label for="commentContent">Add a comment:</label>
            <textarea id="commentContent" name="commentContent" rows="4" cols="50" required></textarea>
            <button type="submit">Submit Comment</button>
        </form>

    </div>
<% }); %>

<!-- Link to submit a new post -->
<a href="/forum/new">Submit a New Post</a>



      </body>
    </html>