<!doctype html>
<html>
  <head>
    <title>Film Ratings -  <%=webName%></title>
    <link rel="stylesheet"  type="text/css" href="/test.css" />
  </head>
  <body>
    <h1>Film Ratings -  <%=webName%></h1>

    <p><a href='/'>Home</a></p>
    <p><a href="about">About <%=webName%></a></p>
    <p><a href="search">Enter to Search</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="deleteuser">Delete user</a></p>
    <p><a href="/ratings">Ratings</a></p>
    <p><a href="/forum">Forum</a></p>
    <p><a href="/reviews">Reviews</a></p>



    <% if (isLoggedIn) { %>
      <p><%= loginMessage %></p>
      <p><a href="/logout">Logout</a></p>
  <% } else { %>
      <p><a href="/login">Login</a></p>
  <% } %>
  




    <div class="container">
      <% movies.forEach(function(movie) { %>
          <div class="movie">
              <div class="movie-image"></div>
              <div class="movie-title"><%= movie.title %></div>
              <div class="movie-rating"> Rotten Tomato Rating: <%= movie.tomatometer %></div>
          </div>
      <% }) %>
  </div>
  </body>
</html>