<!doctype html>
<html>
  <head>
    <title>About <%=webName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=webName%></h1>
    <p>Results from Search</p>



    
    <p><a href='/'>Home</a></p>
    <p><a href="about">About <%=webName%></a></p>
    <p><a href="search">Enter to Search</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="deleteuser">Delete user</a></p>
    <p><a href="/ratings">Ratings</a></p>
    <p><a href="/forum">Forum</a></p>
    <p><a href="/reviews">Reviews</a></p>


    <ul>
      <% users.forEach(function(user) { %>
        <h3>Username:</h3><%= user.username %>,<h3>Name:</h3> <%=user.first%>,<h3>Surname:</h3><%=user.last%>
        <br>
        <br>
      <% }) %>
    </ul>

   
    <% if (isLoggedIn) { %>
        <p><%= loginMessage %></p>
        <p><a href="/logout">Logout</a></p>
    <% } else { %>
        <p><a href="/login">Login</a></p>
    <% } %>
    






  </body>
</html>