<!doctype html>
<html>
  <head>
    <title>About <%=webName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h4 class = "maintitle"> The <%=webName%></h4>

    
    <nav class="main-nav">

        <% if (isLoggedIn) { %>
            <div class="login-message-container">
              <span class="login-message"><%= loginMessage %></span>
              <a href="/logout">Logout</a>
            </div>
          <% } else { %>
            <div class="login-message-container">
              <a href="/login">Login</a>
            </div>
          <% } %>

        <ul class = "nav-links">
            <li><a href='/'>Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="register">Register </a></li>
            <li><a href="/ratings">Ratings</a></li>
            <li><a href="/forum">Forum</a></li>
        </ul>
        <div class="search-container">
            <form action="/search-result" method="GET">
              <input id="search-box" type="text" name="keyword" placeholder="Search for a User">
              <input type="submit" value="Search">
            </form>
          </div>
      </nav>
    

<h2 class = "search-result">Search Results:</h2>
    <ul>
      <% users.forEach(function(user) { %>
        <li class = "user-box"><p class = "utitle">Username:</p><%= user.username %>,<p class = utitle>Name:</p> <%=user.first%>,<p class = utitle>Surname:</p><%=user.last%> </li>
        <br>
        <br>
      <% }) %>
    </ul>


  </body>
</html>